.singleRecipePage {
    margin-top: 20px;
    border: 2px solid hsl(335, 86%, 37%);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.singleRecipePage h1 {
    margin: 20px auto 0 auto;
}

.h3Save {
    display: flex;
    justify-content: center;
    align-items: center;
}

.saveButton {
    margin-left: 20px;
    height: 2.5rem;
    font-size: 1rem;
    padding: 0 20px;
}

.singleImageSrc {
    margin: 0 auto;
    width: 20rem;
    border-radius: 30px;
}

.singleInstructions {
    width: 75%;
    text-align: center;
    margin: 20px auto;
    border: 2px solid hsl(335, 86%, 37%);
    border-radius: 30px;
    padding: 12px;
}

.singleInstructions span {
    color: hsl(335, 86%, 37%);
}

.ingMeasBox {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

.ingMeas {
    width: 36rem;
    border: 2px solid hsl(335, 86%, 37%);
    border-radius: 15px;
    padding: 12px;
}

.reviewForm {
    display: flexbox;
    text-align: center;
    justify-content: center;
    position: relative;
}

.reviewForm label {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5px auto;
}

.reviewForm input {
    position: relative;
    display: flex;
    margin: 5px auto;
    font-size: 2rem;
    text-align: center;
}

.reviewForm textarea {
    position: relative;
    display: flex;
    height: 100px;
    width: 30vw;
    margin: 5px auto;
    font-size: 1rem;
}

.reviewBtn, .reviewForm button {
    margin-bottom: 10px;
}