.amUserInfo{
  border: 2px solid #b10d52;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 5px;
}

.margin {
  margin: 5px;
}

.needHover {
  cursor: pointer;
  font-weight: 500;
  color: #94a033;
  text-decoration: inherit;
  &:hover {
    color: #b10d52;
  }
}